@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100svw;
  height: 100svh;
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8fafc;
}

/* Navbar Styles */
nav {
  background: #709A84;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: all 0.3s ease;
}

#logo {
  padding: 1.5rem 1.5rem 1rem 1.5rem;
}

#logo h1 {
  font-size: 2rem;
  font-weight: 700;

  transition: color 0.2s ease;
  cursor: pointer;
}